{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
	<div class="indexCard"></div>
      <div class="card align-center">
        <h5 class="card-header">Bienvenue sur MyQuizz</h5>
        <div class="card-body">
          <h3 class="card-title">Ceci est la page d'accueil du site</h3>
          <p class="card-text">Cependant par manque d'interet, et giga flemme elle ne sera remplit que de choses sans interêts.</p>
          <p class="card-text">En revanche le design du reste du site a été entierement travaillé de A à Z, merci d'en prendre compte lors de la soutenance</p>
          <p class="card-text">Sur ce, bonne visite !</p>
        </div>
      </div>
	<div class="paddingCard"></div>
{% endblock %}
